<table class="table">
    <thead>
        <th>ID</th>
        <th>Título</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <!-- ngFor é o loop do ts, ele diz, crie uma task para cada tasks-->
        <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>
                <a [routerLink]="['/tasks', task.id]" class="btn btn-info">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Detalhes
                </a>
                <button class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                    Excluir
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- neste caso, o componente task-detail, recebe como "parametro", em sua variavel publica chamada task,
     o valor da variavel selectedTask do componente task-->
<!--<task-detail [task]="selectedTask"></task-detail>-->